<mat-drawer-container
    [autosize]="true"
    class="min-h-full max-w-7xl mx-auto border-x"
>
    <mat-drawer class="p-6" mode="side" opened>
        <!-- <div>Filters</div> -->
        <app-filters (showCategory)="onShowCategory($event)"></app-filters>
    </mat-drawer>
    <mat-drawer-content class="p-6">
        <p class="text-2xl font-bold mb-4">Products</p>
        <app-products-header (columnsCountChange)="onColumnsCountChange($event)" class="font-bold">
        </app-products-header>
        {{ cols }}
        {{ category }}
        <mat-grid-list 
            [cols]="cols" 
            [rowHeight]="rowHeight" 
            gutterSize="16px">
            <mat-grid-tile>
                <app-product-box 
                (addToCart)="onAddToCart($event)"
                class="w-full" 
                [fullWidthMode]="cols === 1"></app-product-box>
            </mat-grid-tile>
            
            @for(product of products; track product.id) {
                <mat-grid-tile>
                    <app-product-box 
                    (addToCart)="onAddToCart($event)"
                    class="w-full" 
                    [fullWidthMode]="cols === 1" 
                    [product]="product"></app-product-box>
                </mat-grid-tile> 
            }

        </mat-grid-list>
    </mat-drawer-content>

</mat-drawer-container>